#banner div
{
	height:300px;
	overflow: hidden;
	border:3px solid #000;
}
#banner div img
{
	
}
.foother
{
	text-align: center;
}
.navbar
{
	background:#000;
	
}
.container-fluid .navbar-header .navbar-brand
{
	color:#fff;
}
.collapse .nav li a{
	color:#ffffff;
}
.collapse .nav .active a{
	
	background-color:#ff0000;
	color:#fff;
}
.formulario
{
	padding:10px;
}
